:root{

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #298cad;
}
header {
    padding: 20px;
   display:block;
   width: 100%;
   height: 110px;
   background-color: aqua;
   
}

header h1{
    display: inline-block;
    font-size: 47px;
    color: #111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}
header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
}

header nav ul {
   list-style-type: none; 
}

header nav ul li{
    display: inline-block;
    margin-left: 25px;
}


.wood{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 50vh;
    background-image: url(./images/wood.jpg);
}
.wood h2{
    display: flex; 
    text-align: right;
    background-color: aqua;
    color: darkblue;
    padding: 5px;

} 
.info-about-me{
    display: flex;
    align-items: flex-start ;
    justify-content: space-around;
}
.info-about-me h3{
    padding: 0px 20px;
}

.vertical-line1 {
    height: 100px;
    border-left: 2px solid black
}
.work{
    display: flex;
    margin: 20px;

    /* align-items: flex-start; */
    /* justify-content: space-around; */
}
#work-section{
    padding-right:  20px;
}

.background-images{
/* display: flex;
flex-wrap: wrap; */
/* margin: 20px; */
width: 100%;
}

.top-image{

}
#MernStack {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(./images/mern-stack.webp);
    height: 300px;
    width: 100%;
    border: 7px solid lightseagreen;
}

h4 {
    
    text-align: right;
    background-color: aqua;
    color: darkblue;
    padding: 5px;  
}
.bottom-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    
}
#led-wall{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(./images/LED-wall.webp);
    height: 150px;
    width: 48%;
    border: 7px solid lightseagreen;
    
}
#calculator{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(./images/Calculator.jpg);
    height: 150px;
    width: 48%;
    border: 7px solid lightseagreen;
    
}
#pastel{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(./images/Pastel-Pazzle.jpg);
    height: 150px;
    width: 48%;
    margin-top: 20px;
    border: 7px solid lightseagreen;
    
}   
#run-buddy{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  background-image: url(./images/run-body.jpg);
  height: 150px;
  width: 48%;
  margin-top: 20px;
  border: 7px solid lightseagreen;
  
}
footer{
    padding: 20px;
    display:block;
    width: 100%;
    height: 110px;
    background-color: aqua;
}
footer h2{
    display: inline-block;
    font-size: 47px;
    color: #111;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}
footer nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
}

footer nav ul {
   list-style-type: none; 
}

footer nav ul li{
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 25px;
}
.end{
    text-align: center;
}